[package]
authors = ["Wim Looman <wim@nemo157.com>"]
name = "cbor-diag"
version = "0.1.0"

[workspace]
members = ["cli"]

[dependencies]
hex = "0.3.2"
nom = "4.2.0"
half = "1.3.0"
chrono = "0.4.6"
num = "0.2.0"
base64 = "0.10.1"
url = "1.7.2"

[dependencies.separator]
git = "https://github.com/Nemo157/rust-separator"
branch = "128-ints"

[dev-dependencies]
indoc = "0.3.1"
proptest = "0.9.0"

[dev-dependencies.pretty_assertions]
git = "https://github.com/Nemo157/rust-pretty-assertions"
branch = "prettier-multiline-strings"
